* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF0EB;
    font-family: "Lobster Two", sans-serif;
    height: 200px;
    display: flex;
}

.div-logo {
    width: 20%;
    height: 194px;
}

.div-menu {
    width: 80%;
    height: 194px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.logotipo {
    width: 190px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

h1 {
    font-size: 45px;
    color: #CE8F6C;
}

a {
    font-size: 25px;
    text-decoration: none;
    color: #CE8F6C;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.div-img {
    height: 100px;
}

.img-bolo {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.sobre {
    text-align: center;
    margin-top: 10px;
}

h2 {
    font-size: 35px;
    margin-top: 30px;
}

p {
    font-size: 25px;
    margin-top: 10px;
}

/* CARDS DO CARDÁPIO */

.menu-cardapio-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.menu-cardapio-item {
    border: 4px solid #CE8F6C;
    border-radius: 15px;
    width: 30%;
    box-shadow: 14px 11px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

.menu-cardapio-item p {
    font-size: 20px;
}

footer {
    background-color: #CE8F6C;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}